<div class="container">
    <div class="title">
        <span>{{ title }}</span>
    </div>
    <div class="nav">
        <div *ngIf="loginUser" class="user-info">
            {{ loginUser.name }}
        </div>
        <div class="user-info-detail">
            <div>
                <span>ユーザ名：</span>{{ loginUser.name }}
            </div>
            <div>
                <span>ユーザID：</span>{{ loginUser.email }}
            </div>
        </div>
        <app-button *ngIf="loginUser" name="ログアウト" (click)="onClickLogout()"></app-button>
    </div>
</div>